h1 {
  color: 007328;
  top-margin: 25pt;
}
.tuade {
  color: AA0037;
  font-family: Arial;
  top-margin: 20pt;
  font-size: 20pt
  font-weight: bold;
}
.noidung{
  color: black;
  top-margin: 6pt;
  font-size: 15pt;
  font-weight: bold;
}
