.container{
display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
flex: 15%;
background-color: #CDCD00;
  background: url("image/banner.png") center / 100%;
aspect-ratio: 6 / 1;
}
.menu{
flex: 5%;
  background-color: CDCD00;
  display: flex;
  text-align: center;
}
.menu a{
  padding: 15px 20px;
}
.menu hover{
  background-color:	f7b3d8;
 color:f7b3d8;
}
.content{
flex: 70%;
  background-color: white;
}
.content iframe {
  flex: 1;
border: none;
  height: 100%;
  width: 100%;
}
.footer{
flex: 10%;
background-color: CDCD00;
}


h1 {
  color: 007328;
  top-margin: 25pt;
}
.tuade {
  color: AA0037;
  font-family: Arial;
  top-margin: 28pt;
  font-size: 28pt
  font-weight: bold;
}
.noidung{
  color: black;
  font-family: Arial;
  top-margin: 6pt;
  font-size: 15pt;
}
