.container{
display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
flex: 15%;
background-color: #CDCD00;
}
.menu{
flex: 5%;
  background-color: gray;
  display: flex;
  text-align: center:
}
.menu a{
  padding: 15px 20px;
  color: blue;
}
.menu hover{
  background-color: lightgray;
 color: black;
}
.content{
flex: 70%;
  background-color: white;
}
.content iframe {
  flex: 1;
border: none;
}
.footer{
flex: 10%;
background-color: #CDCD00;
}


h1 {
  color: 007328;
  top-margin: 25pt;
}
.tuade {
  color: AA0037;
  font-family: Arial;
  top-margin: 28pt;
  font-size: 28pt
  font-weight: bold;
}
.noidung{
  color: black;
  font-family: Arial;
  top-margin: 6pt;
  font-size: 15pt;
}
